language: node_js
node_js:
  - "9"
dist: trusty
sudo: required

branches:
  only:
    - master

before_script:
  - npm install -g @angular/cli

script:
  - ng lint
  - ng build --prod --base-href https://noorkrichen.github.io/nour-angular-demo/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/nour-demo
  on:
    branch: master
