<div class="container">
    <div class="row">

        <div class="h3 col-12">Cards</div>

        <div class="col-4">
            <div class="card">
                <a (click)="onClickMe()" class="stretched-link card-link"></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <a (click)="onClickMe()" class="stretched-link card-link"></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <a (click)="onClickMe()" class="stretched-link card-link"></a>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
            <br>

        </div>

    </div>
</div>
